<div class="article-page-container">
  <article class="article-page">
    <h2><%- category.title.rendered %></h2>
    <img
      class="featured-image"
      src="<%= category.yoast_head_json.og_image[0].url %>"
      alt="<%= category.yoast_head_json.schema['@graph'][2].caption %>"
    />
    <p class="caption">
      <%= category.yoast_head_json.schema['@graph'][2].caption %>
    </p>
    <span class="excerpt"><%- category.excerpt.rendered %></span>

    <p class="reading-time">
      <%= category.yoast_head_json.twitter_misc["Geschatte leestijd"] %>
    </p>
    <p class="date"><%= category.date %></p>
    <div class="content"><%- category.content.rendered %></div>
  </article>
</div>
